body {
    background-attachment: fixed;
    background-color: aqua;
    background-image: url("imagenes/background.png");
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: 21;
}

#menu {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}

#texto1 {
    color: white;
    font-size: 8cap;
}

#texto2 {
    color: white;
    font-size: 5cap;
}

.escarapela {
    width: 7%;
    height: 7%;
}

hr {
    height: 2px;
    background-color: #72a7d8;
    border: none;
}

#seccion {
    font-family: sans-serif;
    color: white;
}

.imagenesSRC {
    width: 30%;
    height: 20%;
}

#lista {
    text-align: left;
    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 736px) {

    .imagenesSRC {
        width: 100%;
        height: 20%;
    }

}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #0c0f26; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(0,255,253);
    background: linear-gradient(97deg, rgba(0,255,253,1) 0%, rgba(255,255,255,1) 100%);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(1,130,129);
    background: linear-gradient(97deg, rgba(1,130,129,1) 0%, rgba(136,136,136,1) 100%);
  }