.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    gap: 20px; /* Espacio entre items */
    list-style: none; /* Quitar los puntos de lista */
    padding: 0; /* Quitar padding de ul */
}

.itembox {
    background-color: #0dc7ff1f;
    border-radius: 10px;
    padding: 20px; /* Agrega espacio interno alrededor del contenido */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Evita que los elementos sobresalgan si algo no cabe */
}

.itembox .title {
    text-align: left;
    margin: 0;
}

.itembox .title-wm {
    text-align: left;
    margin: 0;
    margin: 0 0 20px 0;
}

.itembox .description {
    margin: 20px 0;
    flex-grow: 1; /* Permite que el párrafo crezca dentro del contenedor */
    font-weight: bold;
}

#hrTop {
    margin: 0;
    border: 0;
    border-top: 1px solid #22052550;
}

#hrBottom {
    margin: 0;
    border: 0;
    border-top: 1px solid #22052550;
}

#icons {
    margin-top: 20px; /* Espacio entre #hrBottom e íconos */
}

#icons .iconsTitle {
    text-align: left;
    margin: 0 0 10px 0;
}

.itembox .icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: left;
    font-size: 1.5em;
    margin: 0;
}

.itembox li {
    width: 2%;
    margin: 5px;
}

.features .itembox li {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

#icons {
    margin-top: 20px;
}

.iconsTitle {
    margin: 0 0 10px 0;
}

.icons-container {
    display: flex;
    justify-content: space-between; /* Espacio entre íconos y adicionales */
    align-items: center; /* Alinea los elementos verticalmente */
}

.itembox .icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: left;
    font-size: 1.5em;
    margin: 0;
}

.itembox li {
    margin-right: 10px; /* Espaciado entre íconos de tecnologías */
}

.additional-icons {
    display: flex; /* Asegura que los íconos estén en línea */
    align-items: center; /* Alinea verticalmente los íconos */
}

.link-icon, .github-icon, .discord-icon, .npm-icon {
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-bottom: 0;
    margin-left: 10px; /* Espaciado entre los íconos adicionales */
}

.itembox .fa-solid, .itembox .fa-brands {
    text-decoration: none;
    border-bottom: 0;
}

.github-icon {
    color: black; /* Color del ícono */
}

.github-icon:hover {
    color: #2e2e2e; /* Cambia de color al pasar el mouse */
}

.link-icon {
    color: #ffffff; /* Cambia de color al pasar el mouse */
}

.link-icon:hover {
    color: #5f5e5e; /* Cambia de color al pasar el mouse */
}

.discord-icon {
    color: #5865F2; /* Color del ícono */
}

.discord-icon:hover {
    color: #2632b3; /* Cambia de color al pasar el mouse */
}

.npm-icon {
    color: #d05453; /* Color del ícono */
}

.npm-icon:hover {
    color: #572222; /* Cambia de color al pasar el mouse */
}

.serverCounter {
    text-align: left;
    font-size: 16px;
    margin: 0 0 20px 0;
}

@media screen and (max-width: 736px) {
    .features {
        display: flex;
    }
}