@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#cabezera {
    text-align: center;
    background-color: rgb(164, 237, 164);
    padding-top: 80px;
    height: 350px;
}

#imghead {
    opacity: 80%;
}

nav {
    height: 250px;
}

ul {
    color: rgb(94, 8, 97);
    padding-top: 50px;
}

li {
    text-decoration: none;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    text-shadow: 0.5px 0.5px black;
    font-style: bold;
    font-size: 17px;
}

#novedades {
    text-align: center;
    height: 630px;
    background-color: rgb(136, 136, 136);
    padding-top: 200px;
}

#imgnovedades {
    height: 200px;
    margin: 0px;
}

#donde {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#talleres {
    height: 550px;
}

.tablacopada {
    width: 100%;
    table-layout: fixed;
    border: 3px solid;
    background-color: rgb(136, 136, 136);
}

tr, td, th {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: rgb(136, 136, 136);
    height: 300px;
    color: wheat;
}

dl {
    padding-top: 50px;
    padding-left: 30%;
}